@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Panel title</h3>
        <div class="btn-group btn-group-xs pull-right">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-refresh" data-function="refresh"></span>
            </button>
            @*<button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>*@
        </div>
    </div>
    <div class="panel-body" data-panel-url="@Url.Action("Create", "AdministrativeBody", new { area = "" })">
        Panel content
    </div>
</div>
