<!DOCTYPE html>
<html>
    <head>
        @if (IsSectionDefined("Head"))
        {
            @RenderSection("Head")
        }
    </head>
    <body>
        @if (IsSectionDefined("NavBar"))
        {
            @RenderSection("NavBar")
        }

        <div class="container body-content">
            @RenderBody()
        </div>
        
        @if (IsSectionDefined("Deferred"))
        {
            @RenderSection("Deferred")
        }
    </body>
</html>